apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
        app: nginx-app
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.nginxApp.image }}:{{ .Values.nginxApp.tag }}"
          ports:
            - containerPort: 80
